@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /*typography*/
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /*other*/
  --radii: 0.5rem;
}

/*если у body будет атрибут data-theme со значением dark то применятся эти значения для css переменных, которые используем по коду */
body[data-theme="dark"] {
  --text-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --ui-base-color: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme="light"] {
  --text-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --ui-base-color: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0 8px 8px;
}
